* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "lato";
    font-size: 20px;
    color:#555;
}

i {
    font-size: 64px;
    color: #e67e22;
  }

.nav-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.mobile-nav{
    display: none;
}

.desktop-nav {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 60px;
    padding-right: 60px;
}

.nav-link{
    cursor:pointer;
}

.nav-link:hover{
    transition: 0.3s;
}

.nav-link::after {
    content: "";
    display: none;
    height: 5px;
    background-color: #e67e22;  
}
  
.nav-link:hover::after {
    display: block;
}

.nav-link {
    list-style: none;
    margin-right: 20px;
}

.hero-container {
    position: relative;
    height: 100%;
    /* width: 100%; */
}

.hero-background{
    position: relative;
    height:100vh;
    width: 100vw;
}

.background-image {
    object-fit: cover;
    filter: brightness(0.5);
    height: 100%;
    width: 100%;
    display: block;
    transition: filter 0.5s;
}

.hero-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 80px;
}

.hero-title {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    text-align:left;
    flex-direction: column;
    font-size:40px;
}

.hero-button1 {
    color:white;
    width: 140px;
    height: 40px;
    font-size: medium;
    border: none;
    border-radius: 20px;
    background-color: #e67e22;
}

.hero-button1:hover {
    color:#cf6d17;
    transition: 0.3s;
}

.hero-button2 {
    margin-left: 10px;
    color:#e67e22;
    width: 140px;
    height: 40px;
    font-size: medium;
    border: solid;
    border-color: #e67e22;
    border-radius: 20px;
    background: none;
}

.hero-button2:hover {
    background-color: #e67e22;
    color:white;
    transition: 0.3s;
}


.description-container{
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.section-title{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:left;
    flex-direction: column;
    padding-bottom: 40px
}

.section-title h3{
    padding-bottom: 40px;
}

.section-title p{
    padding: 40px 140px;
}

.four-description{
    display: flex;
    flex-direction: row;
}

.description{
    margin: 30px;
}

.description h3{
    padding-bottom: 15px;
}

.showcase-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.showcase-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.showcase-image {
    display: block;
    width: 100%;
    overflow: hidden;
    filter: brightness(0.8);
}

.showcase-image:hover {
    /* width:100%; */
    transform: scale(0.9);
    filter: brightness(1);
    transition: 0.3s;
    
}

.how-it-work {
    height:70vh;
    width:100vw;
    position: relative;
    display: inline-block;
    background-color:rgb(244,244,244);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

.how-it-work-container{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:right;
    /* flex-direction: row; */
}

.iphone {
    width:30%;
}

.how-it-work-p {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align:left;
}

.how {
    padding-top: 20px;
    padding-bottom: 20px;
}

.how p {
    width: 50%;
}

.how-image{
    padding-top: 20px;
}
.how-image-apple{
    width:20%;
    height:20%;
}

.how-image-android{
    width:18%;
    height:18%;
}

.cities-section {
    width: 100vw;
    height: 50vh;
    padding-top: 20px;
    padding-bottom: 40px;
}

.cities{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-direction: row;
}

.city-image{
    width: 60%;
}

.city {
    justify-content: space-evenly;
}

.icon-p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:left;
    flex-direction: row;
}

.icon-p i{
    font-size: 20px;
}

.review-section{
    height: 100vh;
    width: 100vw;
    background-image: url("./img/back-customers.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color:white;
}

.review-container h3{
    padding-top: 50px;
}

.reviews {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-direction: row;
    justify-content: space-between;
}

.customer-review{
    padding-left: 20px;
    padding-right: 20px
}
.customer{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.customer p{
    padding-left: 20px;
}
.customer-image{
    width: 50px;
    border-radius: 50%;
}

.pricing-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgb(244,244,244);
}

.pricing-container {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    justify-content: space-evenly;
}

.pricing-container p{
    line-height: 30px;
}

.pricing-title{
    display: block;
    text-align: left;
    padding-bottom: 20px;
}

.pricing-title h4{
    padding-bottom: 15px;
}

.price{
    font-size: 48px;
    color: #e67e22;
}

.pricing-description{
    text-align: left;
}

.pricing-description-container{
    display: flex;
    flex-direction: row;
}

.pricing-description-container ion-icon{
    padding-top: 5px;
    color:#e67e22;
}

.pricing-button {
    margin-top: 20px;
    color:#e67e22;
    width: 140px;
    height: 40px;
    font-size: medium;
    border: solid;
    border-color: #e67e22;
    border-radius: 20px;
    background: none;
}

.pricing-button:hover {
    background-color: #e67e22;
    color:white;
    transition: 0.3s;
}

.contact-section{
    margin-bottom: 30px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    justify-content: space-evenly;
}

.form-group{
    display: block;
    width:300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group label{
    text-align: left;
}

/* .form-group input{
    width:60%;
} */

.form-button {
    color:white;
    width: 140px;
    height: 40px;
    font-size: medium;
    border: none;
    border-radius: 20px;
    background-color: #e67e22;
}

.form-button:hover {
    color:#cf6d17;
    transition: 0.3s;
}

footer{
    height:120px;
    background-color: #555;
    position: relative;
}

footer ul{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left:40px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.footer-link{
    padding-left:10px;
    list-style: none;
    color:rgb(189, 197, 203);
}

.footer-link:hover{
    color:white;
}

.footer-icon i{
    color:rgb(6, 131, 240);
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    right:40px;
}

@media only screen and (max-width: 768px) {
    .desktop-nav{
        display: none;
    }

    .background-image{
        height: 100vh;
        width: 100%;
    }

    .hero-title {
        width: 100%;
        height: 100%;
        margin-top: 30px;
        margin-left: 80px;
    }

    .description-container{
        height:100%;
        flex-direction: column;
    }
    
    .cities-section {
        height:100%
    }
    
    .section-title{
        flex-direction: column;
    }
    
    .four-description{
        flex-direction: column;
    }
    .how-it-work{
        height: 100%;
    }

    .how-it-work-container{
        flex-direction: column;
    }
    
    .iphone {
        width:200px;
    }

    .cities{
        flex-direction: column;
    }

    .reviews {
        flex-direction: column;
    }
    
    .customer{
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .pricing-container {
        flex-direction: column;
    }

    .pricing {
        padding-bottom: 30px;
    }
}
